<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982572736525-9iiks0n54stlp3fo5mnpju51365pfvt7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982572736525-9iiks0n54stlp3fo5mnpju51365pfvt7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>982572736525-30eb9972aphpdtuv50kh03vpoongrhbt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC08KsnPFC_KPAMo8y8d0O3-WtQYh68gIM</string>
	<key>GCM_SENDER_ID</key>
	<string>982572736525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialMedia</string>
	<key>PROJECT_ID</key>
	<string>social-media-app-29487</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-app-29487.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982572736525:ios:bbf2480291e75b75fd3544</string>
</dict>
</plist>